body {
  background-image: url("https://i.pinimg.com/564x/25/9b/88/259b882a7aef5faf1e19471f85300302.jpg");
}
.habit-grid-nov {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  gap: 15px;
}
.novMonth-cell {
  justify-content: center;
  display: flex;
  padding: 0.2px;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 50%;
}
.novMonth-cell.checked {
  background: #73ea9f;
  border: #73ea9f;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.novMonth-cell.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
#november-div {
  padding-bottom: 2rem;
}
